<div>
    {{!-- change this based on what the pages are called --}}
    <ul class=navbar>
        <li class=nav><a href="/">Home</a></li>
        <li class=nav><a href="/private">My Profile</a></li>
        <li class=nav><a href="/logout">Logout</a></li>
    </ul>

</div>

<div class="card-main-div" name="{{background}}" style="background:url('/public/images/{{background}}') no-repeat;"
    id="{{id}}">
    <div class="card-text-wrapper">
        <div class="content-div content-1-div">
            <span style="border: 1px dashed; color:{{element1.color}};"
                class="edit-custom-generic edit-custom-text1">{{element1.text}}</span>
        </div>
        <div class="content-div content-1-div">
            <span style="border: 1px dashed; color:{{element2.color}};"
                class="edit-custom-generic edit-custom-text2">{{element2.text}}</span>
        </div>
        <div class="content-div content-1-div">
            <span style="border: 1px dashed; color:{{element3.color}};"
                class="edit-custom-generic edit-custom-text3">{{element3.text}}</span>
        </div>
        <div class="content-div content-1-div">
            <span style="border: 1px dashed; color:{{element4.color}};"
                class="edit-custom-generic edit-custom-text4">{{element4.text}}</span>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn save-flyer-as-pdf btn-secondary" data-dismiss="modal">Save as PDF</button>
    <button type="button" class="btn save-flyer-as-image btn-primary">Save as Image</button>
    <button type="button" class="btn share-flyer btn-primary">Share</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Fields</h5>

                <div class="dropdown">
                    <button class="btn btn-color dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Black
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Black</button>
                        <button class="dropdown-item" type="button">Blue</button>
                        <button class="dropdown-item" type="button">Green</button>
                        <button class="dropdown-item" type="button">Red</button>
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <textarea class="text-tobe-saved1"></textarea>
                <textarea class="text-tobe-saved2"></textarea>
                <textarea class="text-tobe-saved3"></textarea>
                <textarea class="text-tobe-saved4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn save-flyer-action btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>